.App {
  margin: 0;
  padding: 0;
  width: 75%;
  margin: 0 auto;
}

h3 {
  font-size: 25px;
  color: white;
  margin: 5px 0px;
}

button {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
}

.block-title {
  display: flex;
  border-bottom: solid 1px white;
  margin-bottom: 20px;
  width: 100%;
}

.block-row {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
}

#info {
  padding-top: 15px;
  margin-bottom: 30px;
  justify-content: space-around;
}

.block-row > .left {
  width: 40%;
  /* max-width: 380px; */
}

.block-row > .right {
  margin-left: 20%;
  width: 40%;
}

.footer {
  min-height: 50px;
}

.drag-file-block {
  margin: 0 auto;
  width: 70%;
  height: 300px;
  border: dashed 3px #fff;
}

.drag-file-block div {
  text-align: center;
}

.dropInfo {
  margin-top: 15px;
  font-weight: 900;
  font-size: 18px;
}

.input-label {
  display: block;
  margin: 20px auto;
  width: 80px;
  text-align: center;
  font-size: 12px;
  background-color: #326ca5;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
}

.input-label:hover {
  background-color: #1C4E80;
}

.input-label > *{
  margin: 0 5px;
}

.csvIcon{
  width: 10px;
}

.load {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border:solid 5px #80afdf;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
  animation-name: rotate; 
  animation-duration: .6s; 
  animation-iteration-count:  infinite;
  animation-timing-function:  ease-out; 
}

.timeButton.focus {
  color: #2082eb;
  border-bottom: solid 3px #2082eb;
  border-radius: 3px;
}

.timeButton {
  color: rgb(212, 212, 212);
  font-size: 14px;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.hide {
  display: none;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 780px) {
  h1 {
    margin-top: 30px;
    text-align: center;
  }
  #info > *{
    margin-bottom: 25px;
  }
  .App {
    width: 80%;
  }
  .block-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
  }
  .block-row > .left {
    width: 100%;
  }
  .block-row > .right {
    margin-left: 0;
    width: 100%;
  }
  .drag-file-block {
    width: 100%;
  }
  .dropInfo {
    font-size: 12px;
  }
}